USERS_URL=http://localhost:8083
CATALOG_URL=http://localhost:8081
ORDERS_URL=http://localhost:8082
BFF_PUBLIC_BASE=http://localhost:8080
JWT_SECRET=base64-secret-compartido-de-64-bytes-como-minimo-para-hmac-sha---------------------------------------------------